{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library management system</title>
     <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
     <!--link rel="stylesheet" href="{% static 'css/list.css' %}"-->
</head>
<body>
    <div id="background">
        <div id="top">
            <a href="#"  style="text-decoration:none;  color: white;">
                must@gmail.com
              </a>
              <a href="#"  style="text-decoration:none; color: white;">
                +255 25367848
              </a>
              <a href="#"  style="text-decoration:none; padding:7px; float:right; color: white;"></a>
              <a href="#"  style="text-decoration:none; padding:7px; float:right; color: white;"></a>
              <a href="#"  style="text-decoration:none;  padding: 7px ; float:right; color: white;"></a>
        </div>
        <div id="menu">
            <div id="logo">LIBRARY<b style="color:#2c7ad6 ;">MUST</b>
            </div>
            <div id="menu1">
                <ul>
                    <!--a href=""><li >Home</li></a-->
                    <a href="admin"><li>Admin Login</li></a>
                    <a href="{% url 'index' %}"><li >Welcome</li></a>
                    <a href="/"><li >Home</li></a>
                    <a href="{% url 'login' %}"><li >Login</li></a>
                    <a href="{% url 'register' %}"><li >Register</li></a>
                </ul>
            </div>   
        </div>
        <div id="slider" style="background-image: url(../../static/image/must.jpg)">
            <div id="z">
            <img src="{% static 'image/must_log.png' %}" alt="must logo" >
            <div >WELCOME AT MUST LIBRARY<b style="color: #2c7ad6;">IYUNGA</b>
            <p style="font-size: 15PX;">WELCOME</p>
        </div>
        {% block content %}
        {% endblock %}
        <div id="down">
            <h3>Stay Connected</h3>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white; "></a>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white;"></a>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white;"></a>
            <h2>Contant Address</h2>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white; ">
               must security
                Police Station : 
            </a> <br>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white;">
              +255 121122 
            </a> <br>
            <a href="#"  style="text-decoration: none; padding: 10px 12px; color:white;">
              mustsecurity@gmail.com
              </a>
        </div>
        <div class="footer">Designed By : elkana</div>
    </div>
</body>
</html>
