{% load static %}
{% block nav %}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{% url 'index' %}" class="nav-link scrollto active">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>MUST e-Library</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'index' %}" class="nav-item nav-link scrollto active">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link scrollto active">About</a>
            <a href="{% url 'book' %}" class="nav-item nav-link scrollto active">Books</a>
            <a href="{% url 'login' %}" class="nav-item nav-link scrollto active">Login</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="{% url 'comment' %}" class="dropdown-item">Comments</a>
                    <a href="{% url 'FAQs' %}" class="dropdown-item">FAQs</a>
                    <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
        </div>
        <a href="{% url 'register' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Sign Up<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
{% endblock nav %}