{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library management system</title>
     <link rel="stylesheet" href="{% static 'css/welcome.css' %}" type="text/css">
</head>
<body>
    <div id="background">
        <div id="top">
            <a href="https://must@must.ac.tz"  style="text-decoration:none;  color: white;">
                must@gmail.com
              </a>
              <a href="#"  style="text-decoration:none; color: white;">
                +255 25367848
              </a>
              <a href="#"  style="text-decoration:none; padding:7px; float:right; color: white;"></a>
              <a href="#"  style="text-decoration:none; padding:7px; float:right; color: white;"></a>
              <a href="#"  style="text-decoration:none;  padding: 7px ; float:right; color: white;"></a>
        </div>
        <div id="menu">
            <div id="logo">DR MAGUFULI LIBRARY<b style="color:#2c7ad6 ;">MUST</b>
            </div>
            <div id="menu1">
                <ul>
                    

                </ul>
            </div>   
        </div>
        <div id="slider" style="background-image: url(../../static/image/must.jpg)">
            <div id="x">
            <img src="{% static 'image/must_log.png' %}" alt="must logo" >
            <div >WELCOME AT MUST LIBRARY<b style="color: #2c7ad6;">IYUNGA</b>
            <p style="font-size: 15PX;">WELCOME</p>
</div>
            </div> 
            <div id="y">
                <div id="l">
                    <img src="{% static 'image/math.png' %}" alt="">
                    <p style="color:white">Book title:</p>
                    <p style="color:white">abouth:</p>
                    <p><a href="{% url 'home' %}">more info</a></p>
                </div>
            </div> 
            <div id="z">
                <div id="r">
                    
                    <img src="{% static 'image/math2.webp' %}" alt="">
                    <p style="color:white">Book title:</p>
                    <p style="color:white">abouth:</p>
                    <p ><a href="{% url 'home' %}">more info</a></p>
                    </div>
                </div>
            </div> 
        </div>
        <div id="down">
            <h3>Stay Connected</h3>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white; "></a>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white;"></a>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white;"></a>
            <h2>Contant Address</h2>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white; ">
               must security
                Police Station : 
            </a> <br>
            <a href="#"  style="text-decoration: none; padding: 10px 12px;color: white;">
              +255 121122 
            </a> <br>
            <a href="#"  style="text-decoration: none; padding: 10px 12px; color:white;">
              mustsecurity@gmail.com
              </a>
        </div>
        <div class="footer">Designed By : elkana</div>
    </div>
</body>
</html>
