{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<i class="fa-solid fa-user"></i>
<div>
    <form action="" method="POST">
        <h1 style=" text-align: center; color: #2c7ad6;">LOGIN</h1> 
            {% csrf_token %}
            {{ login_form | crispy }}
            <input type="submit"/>
        <a href="register" style="color:gold; text-decoration: none;"><p >Not yet registered, Sign Up</p></a>
        <a href="forgot_password" style="color:blue; text-decoration: none;"><p >forget password</p></a>
    </form>
</div>
{% endblock %}