body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
#background{
    min-height: 1050px;
    width: 100%;
   
}
#top{
    height: 35px;
    width: 100%;
    background:#2cd654;
   line-height: 35px;
   padding: 0px 20px 9px 100px;
   box-sizing: border-box;
    word-spacing:10px ;
    
}
#menu{
    height: 65px;
    width: 100%;
    background:green;
   
}
#logo{
    height: 65px;
    width: 40%;
    background:white;
    text-align: center;
    line-height: 65px;
    font-size: 40px;
    float: left;
}
#menu1{
    height: 65px;
    width: 60%;
    background:white;
    float: left;
    
}
#menu1 UL{
    list-style: none;
    padding-left: 200px;
    box-sizing: border-box;
    
}
#menu1 LI{
    height: 45px;
    width: 130px;
  
    text-align: center ; 
    display: inline-block; 
    line-height: 45px;
    transform: translateY(-5px);
    color: black;
    font-size: 20px;
   
}
#menu1 LI:hover{
    background: #2cd654;  
    color: white; 
    transition: all ease 1s;
    border-radius: 3px;
}

#slider{
    height:100vh;
    width: 100%;
    background:url(image/images.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#slider1{
    height:100vh;
    width: 100%;
    background:url(image/images.jpg);
    background-size: cover;
    background-attachment: fixed;
}
  
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    width: 50%;
    margin-top: -10%;
    padding: 20px;
    background:rgba(255,255,255, .6); ;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(2, 213, 108, 0.373);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #2cd654;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* You can adjust these styles to fit your design */
  input[type="submit"]:hover {
    background-color: #1fae42;
  }